<!-- <div >
    
    <p>The counter value of counter is: <span [class]="classToSet"> {{counter}}</span></p>

    <app-counter-action [(counter)]="counter"></app-counter-action>

      <hr>
      <input type="text" [(ngModel)]="title">
      <p>{{title}}</p>
</div>


<app-hello [name]="name">
<p>this is projected content</p>
<h2>This is second projected content</h2>
<h3>This is third projected conetent</h3>
</app-hello>
-->
<app-header></app-header>
<div class="container my-5">
<router-outlet></router-outlet>
</div>